 @model IEnumerable<Blog>
@{
    var count = 1;
}
@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@count</td>
            <td>
                <img style="width:300px;height:300px;object-fit:contain" src="~/uploads/images/@item.ImageUrl" />
            </td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.BlogCategoryId </td>

            <td>
                <span class="my-color" style="background-color:@item.Name"></span>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="blog" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-warning" asp-controller="blog" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a onclick="removeColor(@item.Id, '@item.Name')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        count++;
    }
}
else
{
    <tr>
        <td colspan="3" class="text-warning">No blogs available!</td>
    </tr>
}